
<div class="row">
  <div class="small-6 large-2 columns">...</div>
  <div class="small-6 large-8 columns">
    <h1>Eco-Dynamics</h1>
    <p>Do-It-Yourself Green optimization for your home or business</p></div>
  <div class="small-12 large-2 columns">...</div>
</div>


 <div class="row">
  <div class="small-6 large-2 columns">...</div>
  <div class="small-6 large-8 columns">
    <p>Optimize your home to save money!</p>
  <ul>
    <li>Insulation</li>
    <li>Heating systems</li>
    <li>Lighting</li>
    <li>Home power management</li>
  </ul></div>
  <div class="small-12 large-2 columns">...</div>
</div>




 <div class="row">
  <div class="small-6 large-2 columns">...</div>
  <div class="small-6 large-8 columns"><p>Here's how it works:</p>

  <ul>
    <li>You take a survey that describes your home and electricity usage habits.</li>
    <li>We analyze it and provide you with the results so you have the best information available to optimize your home or business.</li>
    <li>There will be alternatives, and we'll help you understand the cost-benefit ratio in the short term and in the long term.</li>
  </ul></div>
  <div class="small-12 large-2 columns">...</div>
</div>

  


 <div class="row">
  <div class="small-6 large-2 columns">...</div>
  <div class="small-6 large-8 columns"><p><a>Create an account</a> to begin the survey and start saving cash and electricity!</p></div>
  <div class="small-12 large-2 columns">...</div>
</div>

