<h1>Complete a New Survey</h1>

<h3>Fill out the following information:</h3>
<p>Address</p>
<p>Type of dwelling</p>
<p>Style</p>
<p>Materials (what it's made of)</p>
<p>Square footage</p>
<p>Type of heat source/fuel</p>
<p>Typical heating bill</p>
<p>Lighting</p>
<p>Typical electricity bill</p>
<p>Appliances</p>
  <p>Kithen</p>
  <p>Laundry</p>
<p>Electricity usage</p>

<h3>Perform the following steps:</h3>
<p>Measure your insulation</p>
<p>Check in strategic places for drafts</p>
<p>Etc.</p>